
p { background-color: white;
   padding: 20px;
   transition: 0.3s;
  }
p {box-shadow: 5px 5px 10px gray;
  }
p:hover { box-shadow: 10px 10px 20px 
purple;
transform: translateY(-5px);
        }
img {
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  transition: 0.4s;
}
img.hover { 
filter: grayscale(0%);
  transform:rotate(3deg)
  scale(1.05);
  
body {
    background color: lightpink;
    min-height: 100vh;
    padding: 40px;

h1 {
    transition: 0.3s;
}

h1:hover {
    color: purple;
    text-shadow: 3px 3px 5px gray;
    transform: scale(1.1);
}

a { 
    color: dark red;
    text decoration: none;
    transition: 0.3s;
}

a:hover {
    color: white;
    text shadow: 2px 2px 4px purple;
}

a:active {
    color: black;
    text-transform: uppercase;
  }
